<table class="spare-parts-table">
  <thead>
    <tr>
      <th class="w-24">Бренд</th>
      <th class="w-28">Артикул</th>
      <th>Наименование</th>
      <th class="w-20">Кол-во</th>
      <th class="w-20">Цена</th>
      <th class="w-20">В корзине</th>
      <th class="w-20">Сумма</th>
      <th class="w-18"></th>
    </tr>
  </thead>
  <tbody>
    @for (spare_part of spare_parts; track spare_part.search_index) {
      @defer (on viewport) {
        <tr>
          <td>{{ spare_part.brand }}</td>
          <td>{{ spare_part.article }}</td>
          <td>{{ spare_part.name }}</td>
          <td class="text-right">
            {{ spare_part.quantity }}
          </td>
          <td class="text-right">
            {{ spare_part.price }}
          </td>
          <td class="py-0">
            <input
              [id]="spare_part.article"
              class="h-full w-full bg-transparent text-right placeholder-slate-400 outline-none"
              placeholder="0"
              type="number"
              #quantity_input
              [(ngModel)]="spare_part.quantity_basket"
              (input)="change_quantity(spare_part, $index)"
            />
          </td>
          <td class="text-right">
            {{ spare_part.sum }}
          </td>
          <td class="py-0">
            <div class="flex h-full">
              <button class="group w-full" (click)="add(spare_part)">
                <app-plus
                  class="m-auto h-3 w-3 fill-slate-400 duration-75 group-hover:fill-slate-500"
                />
              </button>
              <button class="group w-full" (click)="minus(spare_part)">
                <app-minus
                  class="m-auto h-3 w-3 fill-slate-400 duration-75 group-hover:fill-slate-500"
                />
              </button>
            </div>
          </td>
        </tr>
      } @placeholder {
        <tr class="text-slate-400">
          <td colspan="8">Загрузка...</td>
        </tr>
      }
    }
  </tbody>
</table>
