<div class="spare-part-card">
  <div>
    <div>
      <p>Бренд</p>
      <div></div>
    </div>
    <p>{{ spare_part.brand }}</p>
  </div>
  <div>
    <div>
      <p>Артикул</p>
      <div></div>
    </div>
    <p>{{ spare_part.article }}</p>
  </div>
  <div>
    <div>
      <p>Наименование</p>
      <div></div>
    </div>
    <p>{{ spare_part.name }}</p>
  </div>
  <div>
    <div>
      <p>Количество</p>
      <div></div>
    </div>
    <p>{{ spare_part.quantity }}</p>
  </div>
  <div>
    <div>
      <p>Цена</p>
      <div></div>
    </div>
    <p>{{ spare_part.price }}</p>
  </div>
</div>
