<app-search-form
  class="my-4 w-full max-w-96"
  (search_query_emitter)="search_query_emitter($event)"
/>

@if (is_loaded) { @if (!spare_parts.length) {
<span class="text-xs text-slate-400">Ничего не найдено...</span>
} @else { @if (is_screen_small) {
<app-list-spare-parts-cards
  [spare_parts]="spare_parts"
  class="flex w-full flex-col gap-4"
/>
} @else {
<app-spare-parts-table
  [spare_parts]="spare_parts"
  class="w-full max-w-screen-lg"
/>
} } } @else {
<app-spinner-load class="h-10 w-10 fill-blue-600" />
}

<!--<app-spare-parts-table-->
<!--  [spare_parts]="spare_parts"-->
<!--  class="w-full max-w-screen-xl"-->
<!--/>-->

<!--<div class="h-4"></div>-->

<!--<app-spare-parts-table-user-->
<!--  [spare_parts]="spare_parts"-->
<!--  class="w-full max-w-screen-2xl"-->
<!--  (quantity_emitter)="quantity_emitter($event)"-->
<!--/>-->

<!--<div class="h-4"></div>-->

<!--<app-spare-parts-table-admin-->
<!--  [spare_parts]="spare_parts"-->
<!--  class="w-full max-w-screen-2xl"-->
<!--  (quantity_emitter)="quantity_emitter($event)"-->
<!--/>-->

<!--<app-list-spare-parts-cards-->
<!--  [spare_parts]="spare_parts"-->
<!--  class="flex w-full flex-col gap-4"-->
<!--/>-->

<!--<app-list-spare-parts-cards-user-->
<!--  [spare_parts]="spare_parts"-->
<!--  class="flex w-full flex-col gap-4"-->
<!--  (quantity_emitter)="quantity_emitter($event)"-->
<!--/>-->

<!--<app-list-spare-parts-cards-admin-->
<!--  [spare_parts]="spare_parts"-->
<!--  class="flex w-full flex-col gap-4"-->
<!--  (quantity_emitter)="quantity_emitter($event)"-->
<!--/>-->

<div class="h-4"></div>
