<div class="flex h-screen w-full flex-col items-center justify-center">
  <button
    (click)="logout()"
    [ngClass]="{
    'opacity-0 cursor-default': !authService.isAuth()
    }"
    class="w-full max-w-64 p-4 text-xs text-slate-400 opacity-0 hover:text-slate-500"
  >
    Выйти из аккаунта
  </button>
  <div
    class="w-full max-w-64 overflow-hidden rounded border-b border-b-slate-300"
  >
    <p
      class="w-full border-b-2 border-b-blue-700 bg-blue-600 px-1 py-3 text-center text-white"
    >
      Авторизация
    </p>
    <form
      (ngSubmit)="auth()"
      [formGroup]="authorization_form"
      class="flex flex-col gap-2 bg-white px-4 py-2 text-xs"
    >
      <label for="email"></label>
      <input
        autocomplete="off"
        spellcheck="false"
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        class="w-full rounded bg-slate-100 p-2 placeholder-slate-400 outline-none duration-75"
        formControlName="email"
        [ngClass]="{
        'bg-red-50 placeholder-red-500': !email_is_valid
        }"
      />
      <label for="password"></label>
      <input
        autocomplete="off"
        spellcheck="false"
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        class="w-full rounded bg-slate-100 p-2 placeholder-slate-400 outline-none duration-75"
        formControlName="password"
        [ngClass]="{
        'bg-red-50 placeholder-red-500': !password_is_valid
        }"
      />
      <button
        class="m-auto my-1.5 w-20 rounded-full bg-blue-600 p-2 text-white duration-75 hover:bg-blue-700"
      >
        Вход
      </button>
    </form>
  </div>
  <div
    [ngClass]="{
    'opacity-100': error_message,
    }"
    class="mt-4 flex h-8 min-w-52 items-center justify-center rounded-full border-b border-b-slate-300 bg-white px-4 text-center text-xs text-red-600 opacity-0"
  >
    {{ error_message }}
  </div>
</div>
