<div class="spare-part-card pb-1">
  <div>
    <div>
      <p>Поставщик</p>
      <div></div>
    </div>
    <p>{{ spare_part.supplier }}</p>
  </div>
  <div>
    <div>
      <p>Бренд</p>
      <div></div>
    </div>
    <p>{{ spare_part.brand }}</p>
  </div>
  <div>
    <div>
      <p>Код</p>
      <div></div>
    </div>
    <p>{{ spare_part.code }}</p>
  </div>
  <div>
    <div>
      <p>Артикул</p>
      <div></div>
    </div>
    <p>{{ spare_part.article }}</p>
  </div>
  <div>
    <div>
      <p>Наименование</p>
      <div></div>
    </div>
    <p>{{ spare_part.name }}</p>
  </div>
  <div>
    <div>
      <p>Количество</p>
      <div></div>
    </div>
    <p>{{ spare_part.quantity }}</p>
  </div>
  <div>
    <div>
      <p>Цена(1)</p>
      <div></div>
    </div>
    <p>{{ spare_part.price }}</p>
  </div>
  <div>
    <div>
      <p>Цена(2)</p>
      <div></div>
    </div>
    <p>{{ spare_part.price_two }}</p>
  </div>
  <div>
    <div>
      <p>Цена(3)</p>
      <div></div>
    </div>
    <p>{{ spare_part.price_three }}</p>
  </div>
  <div>
    <div>
      <p>В корзине</p>
      <div></div>
    </div>
    <p class="w-full">
      <input
        [id]="spare_part.search_index"
        class="h-full w-full bg-transparent placeholder-slate-400 outline-none"
        placeholder="0"
        type="number"
        #quantity_input
        [(ngModel)]="spare_part.quantity_basket"
        (input)="change_quantity(spare_part)"
      />
    </p>
  </div>
  <div>
    <div>
      <p>Сумма</p>
      <div></div>
    </div>
    <p>
      {{
        (
          parseInt(spare_part.quantity_basket) * parseInt(spare_part.price)
        ).toLocaleString()
      }}
    </p>
  </div>
  <div class="h-7">
    <button class="group w-full">
      <app-plus
        class="m-auto h-3 w-3 fill-slate-400 duration-75 group-hover:fill-slate-500"
        (click)="add(spare_part)"
      />
    </button>
    <button class="group w-full">
      <app-minus
        class="m-auto h-3 w-3 fill-slate-400 duration-75 group-hover:fill-slate-500"
        (click)="minus(spare_part)"
      />
    </button>
  </div>
</div>
