@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spare-parts-table {
    @apply overflow-hidden rounded bg-white text-xs shadow-slate-300 w-full h-0
  }
  .spare-parts-table thead {
    @apply text-nowrap border-b-2 border-b-blue-700 bg-blue-600 text-white
  }
  .spare-parts-table th, td {
    @apply py-1.5 pl-0 pr-2
  }
  .spare-parts-table th {
    @apply font-medium
  }
  .spare-parts-table tbody {
    @apply break-all
  }
  .spare-parts-table tbody > tr:nth-child(even) {
    @apply bg-blue-350
  }
  .spare-parts-table tr > :first-child {
    @apply pl-2
  }

  .spare-part-card {
    @apply flex flex-col gap-2 overflow-hidden rounded border-b border-b-slate-300 bg-white px-3 py-3 text-xs
  }
  .spare-part-card > div {
    @apply flex
  }
  .spare-part-card > div > div {
    @apply max-small-phone:min-w-28 flex min-w-32
  }
  .spare-part-card > div > div > div {
    @apply mx-1 h-4 flex-auto border-b border-dotted border-b-slate-300
  }
  .spare-part-card > div > div > p {
    @apply text-slate-400 after:content-[':']
  }
  .spare-part-card > div > p {
    @apply break-all
  }
}

html {
  overflow-y: scroll;
}

/*body::-webkit-scrollbar {*/
/*  width: 0;*/
/*}*/

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
